{
    "branches": [
      "main",
      {
        "name": "staging",
        "prerelease": "rc"
      }
    ],
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      "@semantic-release/changelog",
      [
        "@semantic-release/exec",
        {
          "publishCmd": "poetry version ${nextRelease.version} && sed -i 's/^__version__ = .*/__version__ = \"${nextRelease.version}\"/' codeshieldapp/__version__.py"
        }
      ],
      [
        "@semantic-release/git",
        {
          "assets": [
            "CHANGELOG.md",
            "pyproject.toml",
            "codeshieldapp/__version__.py"
          ],
          "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
        }
      ]
    ]
  }
  